# PlatformIO
firmware/.pio/
firmware/.pio*
.pio/

# SKiDL / KiCad generated
hardware/RocketFC.net
*.bak
*-cache.lib
*.kicad_pcb-bak
**/fp-info-cache
**/_autosave*
**/*-backups/
**/*.lck
**/*.dsn
**/*.ses
hardware/gerbers/*.zip

# OS / editor
.DS_Store
Thumbs.db
.vscode/
